{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-right">
<a class="btn btn-primary btn-lg" href="{% url 'leads:lead-list' %}" role="button">返回列表</a>
</div>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form|crispy }}

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
      </div>
    </div>
</form>
{% endblock content %}
